// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header, .text {
	font-family: sans-serif;
}
header {
	margin:30px;
}
.bold {
	font-weight: bold
}
.text {
	margin-left: 75px;
}